body {
  font-family: 'Barlow Condensed';
  color: #000000;
}

p {
  font-family: 'Nunito';
}

h4 {
  font-size: 21px;
}

.navbar {
  font-family: 'Barlow Condensed';
  font-weight: 500;
  background-color: transparent;
}

.banner-text-box img {
  width: 50%;
  height: auto;
  margin: 15% 0;
}

.navbar-bg {
  background-color: #faf9f9;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: -1px 2px 24px -9px #000000;
  -moz-box-shadow: -1px 2px 24px -9px #000000;
  box-shadow: -1px 2px 24px -9px #000000;
}

.navbar-bg .navbar-brand img {
  width: 68%;
}

.nav-open nav #nav-icon3 span {
  background-color: #fff!important;
}

.navbar-brand img {
  width: 80%;
  margin-left: 30%;
}

.nav-bg span {
  background-color: white!important;
}

#nav-icon3 {
  width: 26px;
  display: inline-block;
  position: relative;
  top: -9px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 7px;
}

#nav-icon3 span:nth-child(4) {
  top: 14px;
}

.nav-open #nav-icon3 span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%;
}

.nav-open #nav-icon3 span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-open #nav-icon3 span:nth-child(3) {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.nav-open #nav-icon3 span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%;
}

.main-menu {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.main-menu .flex-center {
  padding: 6%;
}

.main-menu .nav li a {
  color: #FFF;
  font-size: 40px;
  font-weight: 600;
}

.main-menu .nav li {
  opacity: 0;
  -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
  transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.05, 0.75, 0.19);
  animation-timing-function: cubic-bezier(0.25, 0.05, 0.75, 0.19);
}

.nav-open .main-menu .nav li {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform .2s, opacity .2s;
  transition: transform .2s, opacity .2s;
}

.nav-open .main-menu {
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.92);
}

.nav-button {
  position: relative;
  z-index: 1111;
  height: 50px;
  display: block;
  width: 50px;
  padding: 12px;
  border-radius: 50px;
}

.banner-bg {
  background-color: rgba(254, 251, 251, 0.5);
  top: 0;
  bottom: 0;
}

#banner .text-word-black {
  color: #292929;
}

/* know-button-hover start */

a.btn.hvr-float-shadow:hover {
  background: orange;
  color: white;
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

a.btn.custom-btn.hvr-float-shadow:hover {
  background: #e9873b;
}

/* end */

.mobile-dna {
  display: none;
}

.focus-content {
  margin-bottom: 20px;
}

.focus-content p {
  padding: 18px 38px;
  color: #104a68;
  font-size: 16px;
  font-weight: 900;
  height: 79px;
  text-transform: uppercase;
  text-align: left;
}

.impact-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.impact-wrap:hover p {
  color: #063149;
}

.impact-wrap:hover {
  background: #fff;
  box-shadow: -11px 10px 5px 2px #17324173;
  color: #063149;
}

.impact-wrap p:hover {
  color: #063149;
}

.impact-wrap:hover p {
  background-color: #fff;
}

.impact-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
}

.swiper-pagination {
  left: 0;
  right: 0;
}

.card {
  margin: 0 0 20px 0;
  height: 100%;
}

#news-and-updates .card-text p:nth-child(odd) {
  color: #332e84;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}

#news-and-updates .card-text a {
  color: #e9873b;
  font-weight: 600;
}

#news-and-updates .card-body:hover {
  box-shadow: 1px 1px 10px 1px rgba(208, 200, 200, .6);
}

#news-and-updates .card-body {
}

#news-and-updates .card {
  box-shadow: none;
}

#news-and-updates .card {
  border-radius: 6px;
}

#news-and-updates .card:hover {
  box-shadow: 1px 1px 10px 1px rgba(208, 200, 200, .6);
  border: 1px solid #077c56;
}

.news-updates-content {
  margin-top: 10px;
  margin-bottom: 10px;
}

#news-and-updates .card-text p:nth-child(even) {
  font-size: 14px;
  text-align: left;
  color: #434343;
  padding: 8px 0;
  line-height: 1.4;
  font-weight: 600;
}

#work-with-us p {
  line-height: 1.2;
}

.news-wrapper .card img {
  padding: 7px 0 0 10px;
}

.updates-wrap.card-text {
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 10px 1px rgba(208, 200, 200, .6);
}

#news-and-updates .card-wrap {
  margin: 17px 0 17px 0;
}

.content-wrapper {
  margin: 15px;
}

.news-second-wrap {
  margin-top: 8%;
  margin-bottom: 10%;
}

.impact-wrap h1 {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  color: #077d57!important;
}

/* our-role */

#our-role .spinner {
  margin-bottom: 25%;
}

/* #gear1  img {
    width: 20%;
  } */

#gear1, #gear2, #gear3 {
  color: #888;
  display: block;
  float: left;
  position: absolute;
}

#gear4, #gear5, #gear6 {
  color: #888;
  display: block;
  float: left;
  position: absolute;
}

#gear1 {
  width: 18%;
  top: 17pc;
  left: 7%;
}

#gear2 {
  width: 23%;
  left: 40%;
  top: 3pc;
}

#gear3 {
  width: 26%;
  left: 70%;
  top: 12pc;
}

#gear4 {
  top: 25pc;
  left: 8px;
}

#gear5 {
  top: 28pc;
  left: -2pc;
}

.spin-wrap h6 {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bold;
  color: #063149;
}

.our-role-header {
  margin-top: 17%;
  margin-left: 3%;
}

.our-role-header img {
  position: absolute;
  top: 45%;
  margin-left: 7px;
}

.our-role-header-1 {
  position: absolute;
  top: 24pc!important;
  left: 12%!important;
}

.our-role-header-3 {
  position: absolute;
  right: 0;
  top: 23pc;
  left: 47pc;
}

.our-role-header-img {
  position: absolute;
  top: 20pc;
  left: 10pc;
}

.our-role-header-img-3 {
  position: absolute;
  right: 0;
  top: 17pc;
  left: 57pc;
}

.spin {
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}

.spin-back {
  -webkit-animation: spin-back 9s linear infinite;
  -moz-animation: spin-back 9s linear infinite;
  animation: spin-back 9s linear infinite;
}

.spin-left-side {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.spin-left-down {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin-back {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* @-moz-keyframes spin-left-side { 100% { -moz-transform: rotate(-360deg); } }
  @-webkit-keyframes spin-left-side { 100% { -webkit-transform: rotate(-360deg); } }
  @keyframes spin-left-side { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } } */

/* @-webkit-keyframes spin-left-down {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  } */

.chain-1 {
  width: 311px;
  position: absolute;
  left: 14%;
  top: 66%;
  animation: chain-1 1s linear infinite;
}

.chain-3 {
  position: absolute;
  width: 60%;
  top: 27pc;
  left: 21%;
  animation: chain 1s linear infinite;
}

.chain-2 {
  position: absolute;
  width: 21%;
  top: 63%;
  right: 19%;
  animation: chain-1 1s linear infinite;
}

@keyframes chain-1 {
  100% {
    transform: translateX(30px);
  }
}

@keyframes chain {
  0% {
    transform: translateX(30px);
  }
}

@keyframes collapse {
  from {
    height: 387px;
  }
  to {
    height: 48px;
  }
}

@keyframes up {
  from {
    bottom: 0px;
  }
  to {
    bottom: 48px;
  }
}

/* our-role-end */

#community-speak .swiper-pagination-bullet {
  margin: 0px 10px;
  width: 10px;
  height: 10px;
}

/* our-milestone-start */

.journey-scroll h1 {
  cursor: pointer;
}

#bg-border {
}

#our-milestone .swiper-pagination-bullet {
  margin: 0px 10px;
}

#community-speak .swiper-pagination-bullet-active {
  background-color: #e9873b;
}

#our-milestone .swiper-pagination-bullet-active {
  background-color: #e9873b;
}

.Our-Journey h1 {
  margin: 90px 0 50px;
  text-align: center;
  text-transform: uppercase;
}

.Our-Journey h5 {
  color: #044161;
  font-weight: 500;
  margin: 20px 0;
}

.journey-years {
  padding-left: 0;
  justify-content: space-around;
  margin: 50px 0;
  flex-wrap: nowrap;
  border-top: 3px solid #044161;
}

.journey-years .slick-list {
  top: -3px;
}

.journey-years h6 {
  list-style: none;
  font-weight: 600;
  color: #434343;
  margin: 20px 0;
}

.journey-years .slick-slide {
  border-top: 3px solid #ee4022;
  transition: all 800ms;
}

.journey-years .slick-current ~ .slick-slide {
  border-top: none;
}

.journey-years .slick-current h6 {
  color: #ee4022;
}

.journey-content .slick-current h5 {
  color: #ee4022;
  font-weight: 700;
}

.journey-years .slick-track {
  margin: 0;
}

.arrow {
  display: flex;
}

.arrow .next-btn {
  margin: 20px;
}

.story-vision h4 {
  background-color: #044161;
  color: #ffffff;
  padding: 5px 10px;
  margin: 20px 0;
  font-weight: 700;
}

.story-vision h6 {
  color: #044161;
  padding: 5px 10px;
  margin: 20px 0;
  font-weight: 700;
}

.vision-content li {
  display: flex;
}

.vision-content i {
  margin-top: 27px;
  color: #044161;
}

.vision-content h6 {
  font-weight: 500;
}

#our-milestone .slick-dots {
  text-align: center;
  margin-bottom: -3%;
}

#our-milestone .col-md-6 .slick-dots .slick-active {
  background-color: #ff9543;
}

#our-milestone .col-md-6 .slick-dots li {
  background-color: #5eb096;
  border-radius: 10px;
}

#patners .slick-arrow-left {
  font-size: 40px;
  position: absolute;
  bottom: 50%;
  left: -35px;
  border: 1px solid;
  border-radius: 50%;
  width: 4%;
  text-align: center;
}

#primary-menu li > a {
  overflow: hidden;
}

#primary-menu li a {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  display: block;
}

#primary-menu a:hover {
  color: orange;
}

#primary-menu li:not(.active) a:hover span {
  transform: translatey(-20px);
  color: transparent;
  transition-duration: .2s;
}

#primary-menu li a span {
  display: block;
  position: relative;
  transition-duration: .1s;
}

#primary-menu li a span {
  -webkit-backface-visibility: hidden;
}

#primary-menu li:not(.active) a:hover span:after {
  opacity: 1;
  transition-duration: .2s;
}

a, a:hover {
  text-decoration: none;
}

#site-navigation ul li:not(.active) a span:after {
  color: orange;
}

#primary-menu li:not(.active) a span:after {
  content: attr(data-background-text);
  position: absolute;
  top: 28px;
  left: 0;
  opacity: 0;
  transition-duration: .2s;
  right: 0;
}

.nav-link:hover {
  color: orange!important;
}

#row {
  padding-top: 8%;
}

#partnership h1 {
  font-size: 25px;
  font-weight: 600;
  color: #e9873b;
}

#partnership p {
  color: #434343;
  font-size: 16px;
  font-weight: 600;
}

#news-updates h1 {
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.9px;
  padding-bottom: 6px;
}

.news-update {
  border: 2px solid #e9873b;
  width: 6%;
}

.news.custom-btn {
  background-color: #077d57;
}

#news-updates {
  margin-top: 90px;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: white;
  content: ">";
}

.breadcrumb.breadcrupms-wrapper {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background: none;
  border-radius: 0;
  text-align: center;
}

.breadcrumb-item span {
  color: #fff;
}

.news_updates h1 {
  padding-top: 4%;
}

#updates .card-body {
  padding: 9px;
}

#news .card-text {
  height: 170px;
  text-align: left;
  margin: 20px 20px 20px;
}

#news h6 {
  color: #063149;
  font-weight: 400;
}

#news.card-text p {
  color: #063149!important;
  font-weight: 600;
  line-height: 1.0;
  margin-bottom: 12%;
  word-spacing: 5px;
  height: 90px;
}

#news p {
  font-family: 'Barlow Condensed';
}

#news.card-text {
  color: #063149;
  font-weight: 300;
}

@media (min-width: 480px) {
  .banner-bg {
    position: absolute;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .banner-text-box h1 {
    margin: 10% 0 0!important;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .main-menu .flex-center {
    padding-top: 45%;
  }
}

@media (max-width: 1024px) {
  .main-menu .flex-center {
    padding-top: 45%;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .main-menu .nav li a {
    font-size: 30px;
  }
}

@media (min-width: 320px) {
  .banner-text-box {
    left: 0;
    position: absolute;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #mobile-view-dna {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 30px!important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #banner .banner-text-box {
    position: inherit;
    left: 0;
  }
}

h1 {
  font-size: 35px;
  color: #292929;
  font-weight: 800;
}

@media (min-width: 481px) and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 25px;
  color: #063149;
  font-weight: 600;
  text-align: center;
}

p {
  font-size: 18px;
}

.para-focus p {
  color: #063149;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 25px;
}

.banner-text-box {
  position: absolute;
  top: 10%;
  left: 10%;
}

.banner-text-box h1 {
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.0;
  letter-spacing: 1.5px;
}

.banner-text-box span {
  display: block;
}

.banner-text-box .text-and:before {
  color: #292929;
  content: "AND ";
}

.banner-text-box .btn {
  background-color: #077d57;
  width: 120px;
  margin: 20px 0;
  padding: 2px;
  color: white;
}

.unique-dna {
  margin: 40px 0 10px;
  display: block;
  height: auto;
  text-align: center;
}

#mobile-view-dna {
  display: none;
}

.unique-dna h1 {
  color: #063149;
}

#dna-wrapper.activate .click-dna .section-wrap {
  bottom: 50%;
  left: 40%;
  width: 7%;
}

#dna-wrapper.activate .click-dna .section-wrap h3 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 300px;
  color: #ffffff;
}

#dna-wrapper.activate .click-dna .section-wrap p {
  display: none;
}

#dna-wrapper {
  background-image: url(../../assets/img/Ihat-Apparoch.png);
}

.click-dna.active .section-wrap {
  display: none;
}

#dna-wrapper .active .show-dna {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  right: 0;
  margin: 0 auto;
}

#dna-wrapper .hover-state.active .show-dna {
  display: block;
}

#dna-wrapper .click-dna .show-dna {
  display: none;
}

.show-dna h4 {
  color: #ffffff;
}

.show-dna p {
  color: #ffffff;
  margin-bottom: 0;
}

.show-dna a {
  color: #ffffff;
  font-size: 15px;
}

#dna-wrapper.activate .active img {
  display: block;
}

#dna-wrapper.activate {
  background-color: #063149;
  background-image: none;
  position: relative;
}

.closeFeature {
  position: absolute;
  top: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
  z-index: 1;
  text-indent: -99px;
  overflow: hidden;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  transition: all ease .3s;
}

.history-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.8s ease-in-out;
  height: auto;
}

.our-milestone-bg {
  background-repeat: no-repeat;
  background-image: url(../../assets/img/work-with-us-bg.png);
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 0;
  padding: 20px 0px 50px 0px;
}

#our-milestone {
  margin-top: 6%;
}

#work-with-us {
  background-image: url(../../assets/img/work-with-us-bg.png);
  padding: 100px 0;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.click-dna {
  border-left: 1px solid rgba(255, 255, 255, .3);
  transition: all .4s ease-out;
  position: relative;
  overflow: hidden;
}

.hover-state {
  height: 552px;
}

#dna-wrapper .click-dna img {
  display: none;
}

.section-wrap {
  position: absolute;
  bottom: 4%;
  text-align: left;
  z-index: 999;
}

.section-wrap h4 {
  color: #45d0ff;
  font-size: 20px;
}

.section-wrap p {
  color: #ffffff;
  margin-bottom: 0;
  line-height: 1.3;
}

.show-dna h4 {
  color: #ffffff;
}

.show-dna p {
  color: #ffffff;
  margin-bottom: 0;
}

.show-dna a {
  color: #ffffff;
}

a {
  font-size: 15px;
}

.click-dna:hover {
  background: rgba(5, 6, 9, .5);
  cursor: pointer;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

#previous-project .link-a {
  color: #653037;
  font-weight: 500;
}

#banner {
}

@media (max-width: 480px) and (min-width: 320px) {
  .mobile-dna {
    display: block;
    padding: 0;
  }
}

.mobile-dna h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: #044161;
}

.partnerships .card {
  border: none;
  margin: 0 0 40px 0;
}

@media (max-width: 480px) and (min-width: 320px) {
  .desktop-hide {
    display: none;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .focus-content h6 {
    text-align: center;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  #news .card-text {
    height: 200px;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  #news.card-text p {
    height: 133px;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  #updates-news .card-body {
    height: 150px!important;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .green-btn {
    cursor: pointer;
    width: 120px!important;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .impact-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .community-content {
    padding-right: 0!important;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .banner-text-box span {
    display: inline-block;
  }
}

.accordian-show-bg {
}

.accordion-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.accordian-show-bg .accordion-content {
  background-color: transparent;
  border-bottom: 1px solid #044161;
}

.mobile-card-header {
  width: 100%;
  text-align: left;
  height: 87px;
}

.accordian-show-bg a {
}

.accordion-content .card-body {
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion-one {
  width: 100%;
}

.accordion-bg a {
  font-size: 18px;
  font-weight: 600;
  line-height: 2.0;
  color: white;
}

.far {
  color: #ffffff;
}

.community-content {
  padding-right: 13%;
  text-align: left;
  margin-top: 3%;
}

.community-content p {
  color: #231f20;
  margin-bottom: 10px;
  line-height: 1.4;
}

#our-milestone h1 {
  padding: 20px 0 0px 0;
}

#our-milestone .card-text {
  padding: 0 0 30px 0px;
  line-height: 1.1;
}

swiper-pagination swiper-pagination-bullets {
  margin: 20px 0;
}

.community-content p:nth-child(3) {
  font-size: 14px;
  font-weight: 600;
}

.community-content p:nth-child(2) {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}

.community-content p:nth-child(4) {
  font-size: 12px;
  margin-bottom: 7px;
}

.cancel-icon {
  position: absolute;
  top: 100px;
  right: 12px;
  font-size: 22px;
}

div#collapse1 {
  display: none;
}

.accordion-bg .accordion-content {
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
}

.impact-wrap p {
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 0px 4px;
  line-height: 1.2;
}

.text-orange {
  color: #e9873b!important;
}

.custom-btn {
  cursor: pointer;
  display: inline-block;
  width: 160px;
  background-color: #e9873b;
  line-height: 1.5 !important;
  border-radius: 6px;
  color: #ffffff!important;
  font-weight: 500;
}

.submit-btn {
  cursor: pointer;
  display: inline-block;
  width: 160px;
  background-color: #077d57;
  line-height: 1.5 !important;
  border-radius: 6px;
  color: #ffffff!important;
  font-weight: 500;
}

.readmore-btn {
  width: 160px;
  background-color: #773b43;
  line-height: 1.5 !important;
  border-radius: 6px;
  color: #ffffff!important;
  font-weight: 600;
  margin-left: 4%;
}

.our-milestone-bg a {
  color: #ffffff;
  border-radius: 5px;
}

.content-wrapper {
  text-align: left;
}

#our-partners {
  padding: 50px 0;
}

#patners {
  margin-bottom: 8%;
}

.partners-content img {
  margin-bottom: 30px;
}

footer.footer h1 {
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 480px) {
  .row.partners-content {
    padding: 30px 0;
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .community-content {
    padding: 30px 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #mobile-view-dna {
    display: block;
  }
}

.footer {
  background-color: #000000;
  padding: 40px 0;
}

.footer h5 {
  color: #ffff;
}

.footer p {
  color: #fff;
}

.footer button {
  background-color: #e9873b;
  border-color: #e9873b;
  border-radius: 0;
  padding: 0 20px;
}

.footer .email-input {
  background-color: unset;
  border: 1px solid;
}

.footer li, i {
  color: #ffff;
  font-size: 20px;
}

.footer p {
  font-size: 13px;
}

.closeFeature:before {
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  -moz-transform: rotate(-45deg) translate(-50%, -50%);
  transform: rotate(-45deg) translate(-50%, -50%);
}

.closeFeature:after, .closeFeature:before {
  width: 80%;
  height: 1px;
  background: #000000;
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  -moz-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

.closeFeature:before {
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  -moz-transform: rotate(-45deg) translate(-50%, -50%);
  transform: rotate(-45deg) translate(-50%, -50%);
}

.accordion-bg a {
  font-size: 24px;
  font-weight: 700;
  line-height: 2.0;
}

@media (min-width: 320px) and (max-width: 480px) {
  .accordion-bg {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.accordian-show-bg {
  background-image: none !important;
}

.accordian-show-bg a {
  color: #044161;
}

#mobile-view-dna .card-text {
  position: absolute !important;
  bottom: 20px;
  text-align: le;
  text-align: left;
}

.accordian-show-bg i.fa.fa-plus-circle.pr-2 {
  color: #044161;
}

#our-milestone .card-text p, h4 {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 0;
}

#our-milestone .card-text p {
  margin: 0px 20px;
}

.journey-image .slick-dots li {
  width: 10px;
  height: 10px;
}

.card-text a {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 0;
  color: #ffffff;
}

/* focus-area banner */

.banner {
  padding-top: 100px;
}

.banner-top {
  padding-top: 200px;
}

.health-care h1 {
  color: #773b43;
  font-size: 30px;
  font-weight: 600;
}

.health-care hr {
  border: 2px solid #e9873b;
  width: 20%;
  margin-left: 0%;
}

.container-fluid.container-sec-one {
  padding-left: 0;
  padding-right: 0;
}

.health-care {
  margin-top: 4%;
  margin-left: 15%;
  margin-right: 10%;
}

.health-care p {
  color: #434343;
  font-weight: 500;
  line-height: 1.1;
  font-family: 'Barlow Condensed';
}

.spacing-header {
  margin-top: 4%;
  text-align: center;
}

.spacing-header h2 {
  color: #063149;
  font-weight: 600;
  margin-bottom: 3%;
  font-size: 2rem;
}

#Priorities .card {
}

#Priorities .card-text {
  height: 200px;
}

.focus-content .card:hover {
  border-radius: 6px;
  box-shadow: 1px 1px 10px 1px rgba(208, 200, 200, .6);
}

#Priorities .card:hover {
  border-radius: 6px;
  box-shadow: 1px 1px 10px 1px rgba(208, 200, 200, .6);
}

#previous-project .card:hover {
  border-radius: 6px;
  box-shadow: 1px 1px 10px 1px rgba(208, 200, 200, .6);
}

#news .card:hover {
  border-radius: 6px;
  box-shadow: 1px 1px 10px 1px rgba(208, 200, 200, .6);
}

#Priorities .card-text p {
  line-height: 1.0;
  text-align: left;
  color: #434343;
  font-weight: 500;
  padding: 15px;
  font-family: 'Barlow Condensed';
}

#Priorities-mobile .carousel-mobile {
  display: none;
}

#priotries .row .slick-dots .slick-active {
  background-color: #773b43;
}

.previous-project-mobile .slick-dots .slick-active {
  background-color: #773b43;
}

.previous-project-mobile .slick-dots li {
  background-color: #b2b2b2;
  border-radius: 22px;
}

#mobile-projects .slick-dots .slick-active {
  background-color: #773b43;
}

.previous-project-mobile ul.slick-dots {
  margin-bottom: -11px;
}

#previous-project .card {
  border-radius: 6px;
}

#previous-project .card-text {
  height: auto;
  text-align: left;
  margin: 0 20px 20px;
}

#previous-project .card-text p {
  font-size: 17px;
  margin-top: 12px;
  line-height: 1.2;
  color: #434343;
  font-weight: 400;
  font-family: 'Barlow Condensed';
  margin-bottom: 37px;
}

.previous-project-mobile {
  display: none;
}

#previous-project .slick-arrow-left {
  font-size: 40px;
  position: absolute;
  bottom: 50%;
  left: -50px;
  border: 1px solid;
  border-radius: 50%;
  width: 4%;
  height: 10%;
  text-align: center;
}

#previous-project .card {
  border-radius: 6px;
}

#previous-project.slick-prev.slick-arrow {
  background: black;
  border-radius: 50%;
}

.slick-initialized .slick-slide {
  outline: none !important;
}

#previous-project .slick-arrow.slick-disabled, #patners .slick-arrow.slick-disabled {
  background-color: #ebebeb;
  color: white;
}

#previous-project .slick-arrow-right {
  position: absolute;
  bottom: 50%;
  right: -50px;
  font-size: 40px;
  border: 1px solid;
  border-radius: 50%;
  width: 4%;
  height: 10%;
  text-align: center;
}

#previous-project .slick-arrow, #patners .slick-arrow {
  background-color: #653037;
  color: white;
}

.previous-project-mobile .slick-dots li {
  width: 10px;
  height: 10px;
}

#our-project .slick-dots li {
  background-color: #b2b2b2;
  border-radius: 22px;
}

#mobile-projects ul.slick-dots {
  margin-bottom: 15px;
}

.our-partners .slick-dots .slick-active {
  background-color: #773b43;
}

.slick-list.draggable {
  text-align: -webkit-center;
}

#priotries .row .slick-dots li {
  background-color: #b2b2b2;
  border-radius: 22px;
}

#priotries .slick-dots {
  bottom: -50px;
}

#mobile-projects .slick-dots {
  bottom: -50px;
}

#priotries .slick-dots li {
  width: 10px;
  height: 10px;
}

#our-project .slick-dots li {
  width: 10px;
  height: 10px;
}

#mobile-projects .slick-dots li {
  width: 10px;
  height: 10px;
}

.white-header {
  color: #fff!important;
  margin-bottom: 3%;
}

.current-wrap {
  text-align: left;
  background-color: #fff;
  padding: 20px;
}

.btn:hover {
  color: #fff;
}

.navbar-img {
  display: none;
}

.current-wrap p {
  line-height: 1.1;
  margin-top: 12%;
  font-family: 'Barlow Condensed';
}

.current-wrap h4 {
  color: #000;
  font-size: 21px;
  font-weight: 600;
}

#our-project .slick-arrow-left {
  font-size: 40px;
  position: absolute;
  bottom: 50%;
  left: -50px;
  border-radius: 50%;
  width: 4%;
  text-align: center;
}

#our-project .slick-arrow.slick-disabled {
  color: white;
  background-color: #653037;
  border: 1px solid;
}

#our-project .slick-arrow {
  background-color: #e9873b;
  color: white;
}

/* Latest Update */

.spacing-header {
  margin-top: 4%;
  text-align: center;
}

.spacing-header h2 {
  color: #063149;
  font-weight: 600;
  margin-bottom: 3%;
}

#voice_from_ground.spacing-header {
  text-align: left;
}

#voices_ground p {
  color: #fff;
}

.list-wrap {
  margin-top: 20px;
}

.lastest-wrap p {
  text-align: left;
  line-height: 1.2;
  margin-top: 8%;
  margin-right: 6%;
  font-weight: 600;
  color: #434343;
  font-family: 'Barlow Condensed';
}

.list-content li {
  position: relative;
  list-style: none;
}

.list-content li {
  text-align: left;
  margin: 0 0 76px 0;
  font-weight: 600;
  line-height: 1.2;
  color: #434343;
  font-size: 18px;
}

.list-content li::before {
  content: "";
  position: absolute;
  left: -27px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: #773b43;
  border-radius: 10px;
}

.latest-wrap p {
  text-align: left;
  line-height: 1.1;
  margin-top: 8%;
  margin-right: 6%;
  font-weight: 500;
}

#voice_from_ground .row .slick-dots .slick-active {
  background-color: #ffffff;
}

#voice_from_ground .row .slick-dots li {
  background-color: #472226;
  border-radius: 22px;
}

#voice_from_ground .slick-dots li {
  width: 10px;
  height: 10px;
}

#voice_from_ground .slick-dots {
  bottom: -50px;
}

#voice_from_ground {
  background-color: #653037;
}

.health-care .button-text {
}

#voice_from_ground.spacing-header {
  text-align: left;
}

#voice_from_ground .swiper-pagination-bullet {
  margin: 0px 10px;
  background-color: #472226;
}

#voice_from_ground .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.paragraph-wrapper p, h4 {
  color: #fff;
}

.paragraph-wrapper {
  margin: 20px 25px 0 0;
}

.paragraph-wrapper p:nth-child(1) {
  font-size: 20px;
}

.paragraph-wrapper h4:nth-child(2) {
  font-size: 18px;
  margin: 0;
}

.paragraph-wrapper p:nth-child(3) {
  font-size: 15px;
}

.paragraph-wrapper p:nth-child(4) {
  font-size: 15px;
}

#our-project .slick-arrow-right {
  position: absolute;
  bottom: 50%;
  right: -50px;
  font-size: 40px;
  border-radius: 50%;
  width: 4%;
  text-align: center;
}

#our-project .slick-arrow {
  background-color: #e9873b;
  color: white;
}

#mobile-projects {
  display: none;
}

.card-text {
}

.card-text h3 {
  color: #434343;
  font-weight: 600;
}

#patners .slick-arrow-right {
  position: absolute;
  bottom: 50%;
  right: -35px;
  font-size: 40px;
  border: 1px solid;
  border-radius: 50%;
  width: 4%;
  text-align: center;
}

.our-partners .slick-dots .slick-active {
  background-color: #773b43;
}

#our-project .slick-dots .slick-active {
  background-color: #773b43;
}

.our-partners .slick-dots li {
  background-color: #b2b2b2;
  border-radius: 22px;
}

.our-partners ul.slick-dots {
  margin-bottom: -42px;
}

#our-project ul.slick-dots {
  margin-bottom: -20px;
}

.slick-dotted.slick-slider {
  margin-bottom: 50px;
}

.our-partners .slick-dots li {
  width: 10px;
  height: 10px;
}

.our-partners {
  display: block;
}

.our-partners-mobile {
  display: none;
}

.our-partners-mobile .slick-dots li {
  background-color: #b2b2b2;
  border-radius: 22px;
}

.our-partners-mobile .slick-dots .slick-active {
  background-color: #773b43;
}

.our-partners-mobile .slick-dots li {
  width: 10px;
  height: 10px;
}

#contact-us .health-care h1 {
  color: #063149;
  font-size: 30px!important;
}

.col-12.col-md-4 {
}

#contact-us .health-care {
  margin-top: 22%;
  margin-left: 15%;
  margin-right: 10%;
}

.contact-us h3 {
  color: #044161;
  margin-top: 40px;
  font-weight: 700;
}

.contact-us p {
  color: #434343;
  line-height: 1.7;
  font-size: 14px;
  font-weight: 600;
}

.contact-link a {
  color: #077d57;
  text-decoration: none;
  font-weight: 500;
}

.form-control {
  background-color: #f8f8f8;
}

.submit-btn {
  background-color: #077d57;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 45%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

select.form-control.filter-control {
  border: 0;
  background-color: #fff;
  padding: 0;
  color: #063149;
  font-weight: bold;
}

.select-wrapper {
  font-size: 15px;
  font-weight: bold;
  color: #063149;
}

form#team-filter {
  margin: 8% 0;
}

.select-wrapper span {
  display: inline-block;
}

#team-filter .form-row.form-left {
  margin-left: 10%;
}

#Filters-role .card-text {
  margin-top: 20px;
}

#Filters-role .card-text h2 {
  color: #e9873b;
  text-align: left;
  font-size: 20px;
}

#Filters-role .card-text h3 {
  color: #434343;
  text-align: left;
  font-size: 15px;
}

#team-filter-sec {
  margin-bottom: -5%;
}

#Filters-role div > hr {
  width: 0%;
  background: #e9873b;
  height: 2px;
  margin-inline-start: unset;
  margin-inline-end: unset;
  transition: width .7s ease-in-out;
}

#Filters-role div:hover > hr {
  width: 100%;
}

#Filters-role .col-md-3 {
  margin-bottom: 5%;
}

#work-with-us-filter {
  margin-top: 4%;
}

#work-with-us-filter h2 {
  font-size: 30px;
}

.text-color {
  color: #063149;
}

#work-with-us-form {
  justify-content: center;
  margin-top: 3%;
}

#work-with-us-form .form-row.form-left {
  margin-left: 15%;
}

#current-opening .current-opening-wrap h1 {
  font-size: 20px!important;
  font-weight: 600;
  color: #063149;
}

#current-opening .current-opening-wrap h3 {
  font-size: 15px;
  color: #063149;
}

#current-opening .current-opening-wrap {
  padding-left: 5%;
}

.apply-wrap {
  text-align: center;
  padding: 35px 0 0;
}

.current-opening-wrap i {
  color: #077d57;
}

.current-opening-wrap a {
  text-decoration: none;
}

#current-opening .container {
  border: 1px solid #c6c6c6;
}

.current-opening-wrap {
  padding-bottom: 12px;
  padding-top: 12px;
}

#current-opening hr {
  margin-top: 0rem;
  border-top: 1px solid #cdd9df;
}

#community-speak .speak-content h1 {
  color: #fff;
}

.speak-content {
  margin-top: 9%;
  margin-left: 15%;
}

.speak-content p {
  font-size: 16px;
}

#latest-update .button-viewall {
}

.speak-content h1 {
  font-weight: 600;
}

.section-wrap h3 {
  color: #e9873b;
}

.show-dna h3 {
  color: #e9873b;
}

#research-option select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #e9873b;
  font-size: 20px;
  color: #063149;
  font-weight: 500;
  width: 75%;
  padding-bottom: 6px;
}

.right-border {
  border-right: 1px solid #787878;
  height: 20px;
}

.green-btn {
  cursor: pointer;
  display: inline-block;
  width: 160px;
  background-color: #077d57;
  line-height: 1.5 !important;
  border-radius: 6px;
  color: #ffffff!important;
  font-weight: 500;
  font-family: 'Nunito';
}

.search-btn {
  cursor: pointer;
  display: inline-block;
  width: 144px;
  background-color: #077d57;
  line-height: 1.5 !important;
  font-size: 12px!important;
  border-radius: 6px;
  color: #ffffff!important;
  font-weight: 500;
  margin-left: 5%;
  font-family: 'Nunito';
}

.clear-btn {
  color: #000;
  border: none;
  font-family: 'Nunito';
}

.clear-btn:hover {
  cursor: pointer;
  display: inline-block;
  width: 160px;
  color: white;
  background-color: #e9873b;
  line-height: 1.5 !important;
  border-radius: 6px;
}

#updates-news .card {
  border: none;
}

#updates-news h5 {
  font-size: 16px;
}

#updates-news h6 {
  font-size: 12px;
  margin-top: 15px;
}

#updates-news p {
  font-size: 18px;
  font-weight: 600;
  color: #434343;
  font-family: 'Barlow Condensed';
  line-height: 1.1;
}

#updates-news .card-body {
  padding: 0;
  height: 120px;
}

#updates-news {
  margin: 6% 0;
}

.current-opening-wrap span {
  color: #077d57;
  font-size: 15px;
  font-weight: 500;
}

.current-opening-wrap p {
  line-height: 0.8;
  font-weight: 400;
  margin-bottom: 4%;
  font-size: 18px;
  color: #434343;
  font-family: 'Barlow Condensed';
}

#accordian-sec .card-body {
  padding: 0;
}

.accordian-wrap p {
  line-height: 1.0;
  font-weight: 500;
  font-size: 18px;
  color: #434343;
  padding: 0 20px;
  font-family: 'Barlow Condensed';
}

@media only screen and (min-width: 992px) {
  .research-option.fixed {
    position: fixed;
    top: 58px;
    z-index: 100;
    width: 100%;
    background-color: white;
    height: 120px;
  }
}

@media only screen and (min-width: 992px) {
  .research-option.fixed {
    position: fixed;
    top: 58px;
    z-index: 100;
    width: 100%;
    background-color: white;
    height: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .research-option.fixed {
    position: fixed;
    top: 58px;
    z-index: 100;
    width: 100%;
    background-color: white;
    height: 120px;
  }
}

.research-option.slide-up {
  -webkit-transform: translateY(-102px);
  -ms-transform: translateY(-102px);
  transform: translateY(-102px);
}

.accordion-header h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #063149;
}

@media (max-width: 480px) and (min-width: 320px) {
  .health-care p {
    font-size: 15px;
    text-align: center;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .current-opening-wrap p {
    line-height: 1.0;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #research-option .col-6.col-md-2 {
    margin-top: 10%;
    border-right: 0;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .apply-wrap {
    text-align: left;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #research-option select {
    width: 100%;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .health-care h1 {
    font-size: 20px!important;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .health-care hr {
    margin-left: 35%;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .row.no-gutters.banner-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .health-care {
    margin-top: 4%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #Priorities-mobile .carousel-mobile {
    display: block;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .spacing-header {
    margin-top: 12%;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .list-content li {
    margin-right: 0;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .lastest-wrap p {
    margin: 0 0 28px 0;
    margin-top: 8%;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #mobile-projects {
    display: block;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .previous-project-mobile {
    display: block;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .our-partners-mobile .slick-list.draggable {
    text-align: -webkit-center!important;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #team-filter {
    justify-content: center!important;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #partnership h1 {
    font-size: 20px!important;
    text-align: center;
    margin: 15px 0;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #partnership .img {
    text-align: center;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #team-filter .form-row.form-left {
    margin-left: 0;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #current-opening .current-opening-wrap h1 {
    font-size: 16px!important;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .speak-content {
    margin-left: 0;
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  #Priorities .card-text {
  }
}

@media (max-width: 992px) {
  #our-project .slick-arrow-right {
    position: absolute;
    right: -20px!important;
  }
}

@media (max-width: 992px) {
  #our-project .slick-arrow-left {
    position: absolute;
    left: -20px!important;
  }
}

@media (max-width: 992px) {
  #previous-project .slick-arrow-right {
    position: absolute;
    right: -20px!important;
  }
}

@media (max-width: 992px) {
  #previous-project .slick-arrow-left {
    position: absolute;
    left: -20px!important;
  }
}

@media (max-width: 992px) {
  .banner-text-box h1 {
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  .our-partners ul.slick-dots {
    margin-bottom: -10px!important;
  }
}

.custom-btn:hover {
  background-color: #e9873b;
}

.custom-btn.news:hover {
  background: #077d57;
}

.custom-btn {
  color: rgba(255,255,255,1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

.custom-btn:hover > a {
  opacity: 0;
  -webkit-transform: translate(0px,40px);
  transform: translate(0px,40px);
}

.custom-btn a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.custom-btn:hover::after {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.custom-btn::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  text-align: center;
  left: 0;
  opacity: 0;
  -webkit-transform: translate(0, 30%);
  transform: translate(0, 30%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* join-us */

.join-us-btn::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 0;
  opacity: 0;
  -webkit-transform: translate(-30%, -50%) rotate(-30deg);
  transform: translate(-30%, -50%) rotate(-30deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* focus-area view all btn animation */

.button3 {
  color: rgba(255,255,255,1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  border: 1px solid rgba(255,255,255,0.5);
  overflow: hidden;
}

.button3 a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
}

.button3:hover {
  background-color: #e9873b;
}

.button3:hover > a {
  opacity: 0;
  -webkit-transform: translate(0px,40px);
  transform: translate(0px,40px);
}

.button3::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 0;
  opacity: 0;
  -webkit-transform: translate(-30%, 0);
  transform: translate(-30%, 0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button3:hover::after {
  opacity: 1;
  transform: translate(0, 0);
}

/* accordian-sec-work-us */

#accordian-sec .card {
  border: none;
}

#accordian-sec .accordion-1.card-header {
  border-top: 0;
}

#accordian-sec .card-header {
  background-color: unset;
  border-bottom: 0;
  border-radius: 0;
  padding: 20px 0 0 20px;
}

.accordian-sec {
  border: 1px solid #f2e9e9;
}

#accordion-1 .card-header-wrap:after {
  font-family: 'FontAwesome';
  content: "\f106";
  float: right;
  font-size: 30px;
  color: #000;
  font-weight: 500;
}

#accordion-2 .card-header-wrap:after {
  font-family: 'FontAwesome';
  content: "\f106";
  float: right;
  font-size: 30px;
  color: #000;
  font-weight: 500;
}

#accordion-1 .card-header-wrap.collapsed:after {
  content: "\f107";
  font-size: 30px;
  color: #000;
  font-weight: 500;
}

#accordion-2 .card-header-wrap.collapsed:after {
  content: "\f107";
  font-size: 30px;
  color: #000;
  font-weight: 500;
}

#accordian-1 h3 {
  font-size: 20px;
}

.accordian-wrap a {
  font-size: 20px;
  font-weight: 600;
  color: #063149;
}

.accordion-span h3 {
  font-size: 15px;
  color: #063149;
  padding: 0 20px;
}

.accordion-span span {
  color: #077d57;
  font-size: 15px;
  font-weight: 500;
}

.acc-wrapper h6 {
  color: #077d57;
  font-size: 15px;
  font-weight: 500;
  padding: 0 20px;
}

.card-border:not(.greek) {
  border-top: 1px solid #f2e9e9;
}

.card-borderr:not(.greedy) {
  border-top: 1px solid #f2e9e9;
}

/* apply now animation-start */

.hvr-bubble-float-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-bubble-float-left:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: calc(50% - 10px);
  left: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #077d57 transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-bubble-float-left:hover, .hvr-bubble-float-left:focus, .hvr-bubble-float-left:active {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.hvr-bubble-float-left:hover:before, .hvr-bubble-float-left:focus:before, .hvr-bubble-float-left:active:before {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}

/* animation end */

/* animation for acc-apply now */

.hvr-bubble-float-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-bubble-float-top:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  top: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #077d57 transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-bubble-float-top:hover, .hvr-bubble-float-top:focus, .hvr-bubble-float-top:active {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.hvr-bubble-float-top:hover:before, .hvr-bubble-float-top:focus:before, .hvr-bubble-float-top:active:before {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* end */

@media (min-width: 320px) and (max-width: 480px) {
  .green-btn {
    margin-left: 26px;
    margin-bottom: 12px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .mobile-top {
    margin-top: 10%;
  }
}

.current-opening-wrap img {
  width: 40%;
}
